/*

About Area Style

=====================================================*/

.about-img {

  position: relative;

  z-index: 1;

  padding-left: 50px;

  padding-bottom: 20px;

  border-left: 1px solid black;



}



.about-img .about-shape {

  position: absolute;

  left: 50px;

  bottom: 50px;

  border-radius: 50%;

  -webkit-animation: rotation 45s infinite linear;

          animation: rotation 45s infinite linear;

}

.about-img img{

height: 210px;



}

.about-img-nb{

  border-left: none !important;

}

.about-img::before {

  content: "";

  position: absolute;

  border-radius: 50%;

  background: rgb(45,131,80);
  
  background: linear-gradient(0deg, rgba(45,131,80,1) 0%, rgba(49,211,114,1) 100%);

  height: 25px;

  width: 25px;

  top: 0;

  left: -12px;



}

/* 

.about-img::before {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 522px;

  height: 100%;

  background-color: #c1c4c8;

  z-index: -1;

} */



/* .about-img::after {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 522px;

  height: 100px;

  background-color: #f7f6f1;

  z-index: -1;

} */



.about-content span {

  color: var(--main-color);

  font-size: 17px;

  display: block;

  margin-bottom: 10px;

}



.about-content h2 {

  font-size: 40px;

  margin-bottom: 25px;

}



.about-content strong {

  font-size: 20px;

  font-weight: 600;

  margin-bottom: 20px;

  display: block;

  color: var(--heading-color);

}



.about-content .default-btn {

  margin-top: 20px;

}



/*

Keyframes Area Style

======================================================*/

@-webkit-keyframes rotation {

  from {

    -webkit-transform: rotate(0deg);

            transform: rotate(0deg);

  }

  to {

    -webkit-transform: rotate(359deg);

            transform: rotate(359deg);

  }

}

@keyframes rotation {

  from {

    -webkit-transform: rotate(0deg);

            transform: rotate(0deg);

  }

  to {

    -webkit-transform: rotate(359deg);

            transform: rotate(359deg);

  }

}



/*

Responsive Area Style

======================================================*/

/* Max width 767px */

@media only screen and (max-width: 767px) {

  .about-img::before {

    display: none;

  }

  .about-img::after {

    display: none;

  }

  .about-img {

    padding: 0;

    margin-bottom: 30px;

  }

  .about-img .about-shape {

    display: none;

  }

  .about-content span {

    font-size: 16px;

  }

  .about-content h2 {

    font-size: 28px;

    margin-bottom: 10px;

  }

  .about-content strong {

    margin-bottom: 10px;

  }

  .about-content .default-btn {

    margin-top: 15px;

  }

  .about-img {

    text-align: center;

    margin-bottom: 30px;

  }

}



/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .about-content span {

    font-size: 16px;

  }

  .about-content h2 {

    font-size: 30px;

    margin-bottom: 10px;

  }

  .about-content strong {

    margin-bottom: 10px;

  }

  .about-content .default-btn {

    margin-top: 15px;

  }

  .about-img {

    text-align: center;

    margin: auto;

    margin-left: 26px;

    margin-bottom: 30px;

  }

}



/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .about-img {

    padding: 0;

  }

  .about-img::before {

    display: none;

  }

  .about-img::after {

    display: none;

  }

}

/*# sourceMappingURL=about.css.map */