.green-pledge-area{
    background-color: #EFFFFD;
    padding: 15px 0px;
}
.green_pledge_img img{
    width: 50%;
}
.cgreen-h2{
    font-size: 46px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .green-pledge-area{
        background-color: #EFFFFD;
        padding: 25px 0px;
    }
    .green_pledge_img{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .green_pledge_text{
        padding-top: 20px;
        gap: 20px;
    }
    .green_pledge_text p{
        text-align: center;
    } 
    .cgreen-h2{
        line-height: 46px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .green_pledge_img img{
        width: 80%;
    }
    .cgreen-p {
        text-align: end;
    }
}
